@charset "utf-8";

/* ヘッダー部分・メインビジュアル */
.products_mainvisual{
    width: 100%;
    height: 480px;
    background-image: url(../images/products_mainvisual.png);
    background-repeat: no-repeat;/* 画像をリピートしない */
    background-size: cover;
    /* 元画像の縦横比は保持して、
    要素をちょうどよく覆うサイズにする。 */
}
/* メインビジュアル中のテキストを非表示 */
.products_mainvisual p{
    visibility: hidden;
    /* visibility: hiddenは名の通り、
    要素はあるけど見えない状態。
    display:none葉要素も取得されず、
    完全にその場にない扱い。 */
}

.products_area{
    width: 960px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.product_box{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 43px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3::before,
h3::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: #333;
}


/* 見出しの文字と横棒の間隔を開ける */
h3::before {
    margin-right: 30px;
}
  
h3::after {
    margin-left: 30px;
}

.more_btn {
    text-align: center;
}

.product_btn {
    appearance: none;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(250, 250, 205);
}

.event_mainvisual{
    width: 100%;
    height: 480px;
    background-image: url(../images/event_mainvisual.png);
    background-repeat: no-repeat;/* 画像をリピートしない */
    background-size: cover;
    /* 元画像の縦横比は保持して、
    要素をちょうどよく覆うサイズにする。 */
}
/* メインビジュアル中のテキストを非表示 */
.event_mainvisual p{
    visibility: hidden;
    /* visibility: hiddenは名の通り、
    要素はあるけど見えない状態。
    display:none葉要素も取得されず、
    完全にその場にない扱い。 */
}

.events_area {
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event_box {
    margin: 20px;
    /* text-align: center; */
    position: relative;
}

.event_txt{
    position: absolute;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    background-color: whitesmoke;
    width: 250px;
    margin: 0 auto;
    left: 35px;
}

.access_mainvisual{
    width: 100%;
    height: 480px;
    background-image: url(../images/access_mainvisual.png);
    background-repeat: no-repeat;/* 画像をリピートしない */
    background-size: cover;
    /* 元画像の縦横比は保持して、
    要素をちょうどよく覆うサイズにする。 */
}
/* メインビジュアル中のテキストを非表示 */
.access_mainvisual p{
    visibility: hidden;
    /* visibility: hiddenは名の通り、
    要素はあるけど見えない状態。
    display:none葉要素も取得されず、
    完全にその場にない扱い。 */
}

.map_box {
    text-align: center;
}

.access_section {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.access_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 400px;
    margin: 20px;
}

.recruit_mainvisual{
    width: 100%;
    height: 480px;
    background-image: url(../images/recruit_mainvisual.png);
    background-repeat: no-repeat;/* 画像をリピートしない */
    background-size: cover;
    /* 元画像の縦横比は保持して、
    要素をちょうどよく覆うサイズにする。 */
}
/* メインビジュアル中のテキストを非表示 */
.recruit_mainvisual p{
    visibility: hidden;
    /* visibility: hiddenは名の通り、
    要素はあるけど見えない状態。
    display:none葉要素も取得されず、
    完全にその場にない扱い。 */
}

.message_area {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    color: #9B885C;
    font-family: serif;
}

.form_box {
    width: 850px;
    margin: 0 auto;
    font-family: serif;
}

input[class="form_in"] {
    width: 850px;
}

textarea {
    width: 850px;
}

::placeholder {
    font-size: small;
}

.btn {
    text-align: right;
}

input[class="button"] {
    margin: 0 auto;
    width: 100px;
    border: none;
    background-color: beige;
}